@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}
.header_section {
  background-color: #264653;
  color: #fff;
}
.my_btn {
  background-color: #e76f51;
  border: none;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
}
.my_btn_outline {
  border: 2px solid #e76f51;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  color: #e76f51;
  background-color: transparent;
}
.main_section .bike_collection_pera {
  color: #e76f51;
  position: relative;
  display: inline;
}
.main_section .bike_collection_pera::before {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  bottom: -8px;
  left: 45px;
  background-color: #e76f51;
}
.future_bike {
  filter: grayscale(100%);
}
.client h1 span {
  color: #e76f51;
}
.client .stars {
  color: #e76f51;
}
.download_btn {
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: auto;
  border: 1px solid #fff;
  border-radius: 5px;
}
.download_btn img {
  height: 26px;
}
.download_btn h5 {
  margin: 0;
  padding: 0;
}
.download_btn small {
  font-size: 12px;
}
.faq h1 span {
  color: #e76f51;
}
